<!DOCTYPE html>
<html> 
    <head> 
        <title>{{title}}</title> <link rel="icon" type="image/png" href="/cos.png">
        <link rel="stylesheet" type="text/css" href="/style.css"> 
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body> 
        <header> 
            <nav id="box">
                <div class="logo">
                    <img src="/purple.png" alt="COS Coalition Logo" class="nav-logo">
                </div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li class="dropdown-a">
                        <a href="#">Candidates<span class="arrow">▾</span></a>
                        <ul class="dropdown-menu-a">
                            <li><a href="/scg">Pauline Galias</a></li>
                            <li><a href="/focus24">Jillian Tang</a></li>
                            <li><a href="/focus24">Janret Galvez</a></li>
                            <li><a href="/focus25">Tala Erandio</a></li>
                            <li><a href="/focus25">Jerard Benitez</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-b">
                        <a href="#">Platforms<span class="arrow">▾</span></a>
                        <ul class="dropdown-menu-b">
                            <li><a href="/scg">SCG</a></li>
                            <li><a href="/focus24">FOCUS2024</a></li>
                            <li><a href="/focus25">FOCUS2025</a></li>
                        </ul>
                    </li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </header>

        {{{body}}}

        <footer class="footer" id="contact-info">
            <div class="footer-announcement">
                PARA SA AGHAM NA RAMDAM NG TAUMBAYAN!
            </div>
            <div class="footer-main">
                <div class="footer-left">
                    <h2 class="brand-name"> HANAYAN COALTION </h2>
                    <p class="brand-subtext">GENERAL ELECTIONS 2026</p>
                </div>
            </div>
        </footer>

        <script src="/script.js"></script>
    </body>
</html>