<br><br><br>

<section id="contact-intro"> 
    <div id="contact-text-box">
        <h2 class="platforms-main-title">CONTACT US</span></h2>
    </div>
</section>

<br><br>

<section id="contact">
    <div class="platforms-container">
        <!-- Card 1 -->
        <div class="contact-card">
            <img src="/galias2.png" alt="Pauline" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook: <a href="https://www.facebook.com/pauline.galias.2024/" target="_blank" style="color: inherit; text-decoration: underline;">Pauline Galias</a></p>
                    <p>Instagram: <a href="https://www.instagram.com/paulinegalias/" target="_blank" style="color: inherit; text-decoration: underline;">@paulinegalias</a></p>
                    <p>Telegram: @paulinegalias</a></p>
                    <p>Website: <a href="https://gescg-website.vercel.app/" target="_blank" style="color: inherit; text-decoration: underline;">Click Here</a></p>
                </div>
                <span class="meet-btn">Contact Pauline</span>
            </div>
        </div>

        <!-- Card 2 (FIXED) -->
        <div class="contact-card"> <!-- Changed this line from an <a> tag to a <div> -->
            <img src="/tang2.png" alt="Jillian" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook: <a href="https://www.facebook.com/jillian.andrae.tang" target="_blank" style="color: inherit; text-decoration: underline;">Jillian Andrae Tang</a></p>
                    <p>Instagram: <a href="https://www.instagram.com/sun_drae/" target="_blank" style="color: inherit; text-decoration: underline;">@sun_drae</a></p>
                    <p>Telegram: @sun_drae</a></p>
                </div>
                <span class="meet-btn">Contact Jillian</span>
            </div>
        </div> <!-- Changed this closing tag from </a> to </div> -->
        
        <div class="contact-card">
            <img src="/galvez2.png" alt="Janret" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook: <a href="https://www.facebook.com/JanretGalvez" target="_blank" style="color: inherit; text-decoration: underline;">Janret Galvez</a></p>
                    <p>Instagram: <a href="https://www.instagram.com/janretgalvez" target="_blank" style="color: inherit; text-decoration: underline;">@janretgalvez</a></p>
                    <p>Telegram: @janretgalvez</a></p>
                </div>
                <span class="meet-btn">Contact Janret</span>
            </div>
        </div>

        <div class="contact-card">
            <img src="/erandio2.png" alt="Tala" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook: <a href="https://www.facebook.com/07crysttala" target="_blank" style="color: inherit; text-decoration: underline;">Tala Erandio</a></p>
                    <p>Instagram: <a href="https://www.instagram.com/_crysttala?igsh=MXI2czV6NnR3djV4dA==" target="_blank" style="color: inherit; text-decoration: underline;">@_crysttala</a></p>
                    <p>Telegram: @crystalaERANDIO</a></p>
                </div>
                <span class="meet-btn">Contact Tala</span>
            </div>
        </div>

        <div class="contact-card">
            <img src="/benitez2.png" alt="Jerard" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook: <a href="https://www.facebook.com/share/199YdZLixU/" target="_blank" style="color: inherit; text-decoration: underline;">Jerard Benitez</a></p>
                    <p>Telegram: @jerard_benitez</a></p>
                </div>
                <span class="meet-btn">Contact Jerard</span>
            </div>
        </div>
    </div>
</section>

<br><br><br>