<section id="contact-intro"> 
    <div id="contact-text-box">
        <h2 class="platforms-main-title">CONTACT US</span></h2>
    </div>
</section>

<br><br>

<section id="contact">
    <div class="platforms-container">
        <!-- Card 1 -->
        <a href="#bio-pauline" class="contact-card">
            <img src="/galias2.png" alt="Pauline" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook: @pauline.galias</p>
                    <p>Instagram: @pauline_g</p>
                    <p>Email: pauline@example.com</p>
                </div>
                <span class="meet-btn">Contact Pauline</span>
            </div>
        </a>

        <!-- Card 2 -->
        <a href="#bio-jillian" class="contact-card">
            <img src="/tang2.png" alt="Jillian" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook: @jillian.tang</p>
                    <p>Instagram: @jillian_t</p>
                    <p>Email: jillian@example.com</p>
                </div>
                <span class="meet-btn">Contact Jillian</span>
            </div>
        </a>
        
        <a href="#bio-janret" class="contact-card">
            <img src="/galvez2.png" alt="Janret" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook:</p>
                    <p>Instagram:</p>
                    <p>Email:</p>
                </div>
                <span class="meet-btn">Contact Janret</span>
            </div>
        </a>

        <a href="#bio-tala" class="contact-card">
            <img src="/erandio2.png" alt="Tala" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook:</p>
                    <p>Instagram:</p>
                    <p>Email:</p>
                </div>
                <span class="meet-btn">Contact Tala</span>
            </div>
        </a>

        <a href="#bio-jerard" class="contact-card">
            <img src="/benitez2.png" alt="Jerard" class="contact-pic">
            <div class="card-info">
                <div class="contact-deets">
                    <p>Facebook:</p>
                    <p>Instagram:</p>
                    <p>Email:</p>
                </div>
                <span class="meet-btn">Contact Jerard</span>
            </div>
        </a>
    </div>
</section>

<br><br><br>